@charset "utf-8";
body {
  overflow-x: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}
.section {
  height: 100vh;
  padding: 20px;
  scroll-snap-align: start;
}

/* profile section */
.typing-effect {
  font-size: 24px;
  height: 32px;
  margin: 20px 50px;
  position: relative;
}
.typing-effect::after {
  content: "";
  position: absolute;
  height: 100%;
  right: -10px;
  width: 2px;
  background-color: black;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.icons {
  margin-top: 30px;
}
.icons a {
  font-size: 35px;
  margin: 0 15px;
}

/* skills section */

#skills h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.skills-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  line-height: 1.6;
}

.skill-category {
  margin-bottom: 30px;
}

.skill-category h3 {
  font-size: 24px;
  color: #a4a4a4;
  margin-bottom: 20px;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

#skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#skills li:hover {
  transform: translateY(-10px);
}

#skills img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* project section */

.timeline {
  max-width: 100vw;
  height: 600px;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-left: 300px;
}
.timeline::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.grid {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-card {
  perspective: 1000px;
  width: 760px;
  height: 500px;
  margin-right: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.card-inner.flipped {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}
.card-back {
  transform: rotateY(180deg);
  padding: 30px;
}
.card-back h3 {
  font-size: 30px;
  color: #404040;
}

/* 프로젝트 카드 뒷면 상세*/
.card-back-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.card-back-detail p {
  margin: 10px 0;
}
.open-modal {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.open-modal:hover {
  background-color: #0056b3;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {
  overflow: auto;
  background-color: white;
  border: 1px solid red;
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  max-width: 1200px;
  height: 70%;
  text-align: left;
  position: relative;
}

.slide-info-block {
  display: flex;
  border: 1px solid green;
  justify-content: center;
}

.modal-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal .close:hover,
.modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.detail-image-slider {
  border: 1px solid green;
  position: relative;
  margin-bottom: 20px;
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-image-slider .slide {
  display: none;
  min-width: 400px;
}

.detail-image-slider .slide.active {
  display: block;
  border: 1px solid blue;
  width: 100%;
}

.thumbnail-indicators {
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
}

.thumbnail.active {
  opacity: 1;
}

.detail-info {
  border: 1px solid brown;
  flex: 60%;
}

.info-wrap {
  border: 1px solid pink;
  display: flex;
  padding: 5px;
  font-size: 12px;
  align-items: center;
}

.info-wrap a {
  font-size: 16px;
}

.info-wrap a:hover {
  color: blue;
}

.one {
  font-size: 16px;
  width: 110px;
}

/* 세로가 더 길어질 때 플렉스 레이아웃을 풀고 세로로 쌓이도록 */
@media (max-width: 900px) {
  .slide-info-block {
    border: 1px solid blue;
    flex-direction: column;
    align-items: center;
  }

  .detail-image-slider {
    margin-bottom: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .thumbnail-indicators {
    border: 1px solid yellow;
    display: flex;
    /* justify-content: center; */
    margin-top: 0px;
    margin-left: 10px;
    flex-direction: column;
    width: 60px;
  }

  .thumbnail {
    margin: 5px !important;
    width: 40px !important;
    height: 40px !important;
  }
}

/* 포토 모달 */
#photo-modal {
  border: 1px solid blue;
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#photo-modal .modal-content-container {
  border: 2px solid tomato;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* 이 줄은 필요 없지만, 텍스트 정렬을 원한다면 남겨두세요 */
}

#photo-modal .modal-content {
  margin: auto;
  display: block;
  max-width: 700px;
  height: auto;
  position: relative;
}

#photo-modal .close-photo {
  position: absolute;
  top: 50px;
  right: 35px;
  color: red;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#photo-modal .close-photo:hover,
#photo-modal .close-photo:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#photo-modal .prev,
#photo-modal .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

#photo-modal .prev {
  left: 0;
}

#photo-modal .next {
  right: 0;
}

#photo-modal .prev:hover,
#photo-modal .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* slogan section */
#slogan h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}

.scrolling-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

.text-row {
  font-size: 24px;
  font-weight: bold;
  color: #888;
  white-space: nowrap;
}

.text-row.left {
  padding: 40px 0;
  font-weight: bold;
  font-size: 30px;
  animation: scroll-left 50s linear infinite;
}

.text-row.center {
  color: #555;
  transition: color 0.5s;
}

.text-row.right {
  padding: 40px 0;
  font-weight: bold;
  font-size: 30px;
  animation: scroll-right 50s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.statement {
  max-width: 1200px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: left;
  margin-top: 20px;
}
.statement p {
  padding: 10px 0 0 0;
}

@media (max-width: 960px) {
  .statement1 {
    display: none;
  }
  .statement2 {
    display: block;
  }
}

@media (min-width: 961px) {
  .statement1 {
    display: block;
  }
  .statement2 {
    display: none;
  }
}

/* Contact section */
#contact .content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

#contact h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.formbox {
  padding: 20px;
  border-radius: 10px;
}

#contact-form fieldset {
  border: none;
}

#contact-form table {
  width: 100%;
  border-collapse: collapse;
}

#contact-form td {
  padding: 10px;
}

#contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

#contact-form .btn {
  text-align: center;
  margin-top: 20px;
}

#contact-form button {
  background-color: #0080f6;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#contact-form button[type="reset"] {
  background-color: #b7b7b7;
}

#contact-form button:hover {
  background-color: #0770d0;
}

#contact-form button[type="reset"]:hover {
  background-color: #a4a4a4;
}

/* 스타일링 추가 */
#profile {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #f7f7f7;
}
#skills {
  background: #eaeaea;
}
#projects {
  background: #dcdcdc;
}
#slogan {
  background: #cfcfcf;
}
#contact {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #dcdcdc;
}

#skills .content {
  padding: 50px 0 0 300px;
}
#projects .content {
  height: 100%;
}
#projects .content h2 {
  padding: 150px 0 0 300px;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}
#slogan .content {
  margin: 120px 300px 0 300px;
  overflow: hidden;
}
#contact .content {
}

/* Custom cursor styles  */
body {
  cursor: none;
  position: relative;
}
.custom-cursor-outer,
.custom-cursor-inner {
  position: absolute;
  pointer-events: none;
  z-index: 10000;
}
.custom-cursor-outer {
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 50%;
  transition: transform 0.25s ease-out, opacity 0.15s;
  mix-blend-mode: difference;
}
.custom-cursor-inner {
  width: 15px;
  height: 15px;
  background-color: lightgray;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.paper-plane {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../img/airplane.png);
  background-size: contain;
  z-index: 10000000;
}

/* 반응형 디자인 */
@media (max-width: 1400px) {
  /* skills section */
  #skills .content {
    padding: 30px 0 0 200px;
  }
  /* project section */
  #projects .content h2 {
    padding: 150px 0 0 200px;
  }
  .timeline {
    padding-left: 200px;
    height: 520px;
  }
  .project-card {
    width: 625px;
    height: 425px;
  }
  .card-back {
    padding: 20px;
  }
  .card-back h3 {
    font-size: 28px;
  }
  /* slogan section */
  #slogan .content {
    margin: 100px 200px 0 200px;
    overflow: hidden;
  }
}

@media (max-width: 1130px) {
  /* skills section */
  .skills-description {
    font-size: 15px;

    margin-bottom: 20px;
    line-height: 1.2;
  }

  .skill-category {
    margin-bottom: 10px;
  }

  .skill-category h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #skills li {
    margin: 7px 20px;
  }
  /* project section */
  #projects .content h2 {
    padding: 200px 0 0 200px;
    margin-bottom: 15px;
  }
  .timeline {
    padding-left: 200px;
    height: 420px;
  }
  .project-card {
    width: 519px;
    height: 332px;
    margin-right: 50px;
  }
  .card-back {
    padding: 10px;
  }
  .card-back h3 {
    font-size: 20px;
  }
  .detail-image-slider {
    margin-right: 5px;
  }
  .info-wrap {
    padding: 5px;
    font-size: 12px;
  }
  .info-wrap a {
    font-size: 15px;
  }
  .one {
    font-size: 13px;
    width: 80px;
  }
  .detail-info p {
    font-size: 12px;
  }
  /* slogan section */
  #slogan .content {
    margin: 50px 100px 0 200px;
    overflow: hidden;
  }
}

@media (max-width: 860px) {
  /* skills section */
  #skills .content {
    padding: 10px 0 0 150px;
  }
  .skills-description {
    font-size: 15px;

    margin-bottom: 20px;
    line-height: 1.2;
  }

  .skill-category {
    margin-bottom: 10px;
  }

  .skill-category h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #skills li {
    margin: 7px 20px;
  }

  #skills img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  /* project section */
  #projects .content h2 {
    padding: 200px 0 0 150px;
    margin-bottom: 15px;
  }
  .timeline {
    padding-left: 150px;
    height: 420px;
  }
  .project-card {
    width: 427px;
    height: 280px;
    margin-right: 30px;
  }
  .detail-image-slider {
    width: 20%;
    position: relative;
    margin-right: 15px;
  }
  .thumbnail {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }

  .card-back {
    padding: 5px;
  }
  .card-back h3 {
    font-size: 18px;
  }

  .info-wrap {
    padding: 3px;
    font-size: 11px;
  }
  .info-wrap a {
    font-size: 13px;
  }
  .one {
    font-size: 12px;
    width: 75px;
  }
  .detail-info p {
    font-size: 11px;
  }
}
@media (max-width: 655px) {
  /* skills section */
  #skills img {
    width: 30px;
    height: 30px;
    margin-bottom: 7px;
  }
  .timeline {
    padding-left: 0px;
    height: 420px;
  }
  /* slogan section */
  #slogan .content {
    margin: 20px 20px 0 120px;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  /* skills section */

  #skills img {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
  }
  /* .timeline {
    width: 100%;
    height: auto;
  }
  .project-card {
    width: 90%;
    height: auto;
  } */
}

/* 네비게이션 스타일 */
/* 네비게이션 스타일 */
#menu {
  position: fixed;
  top: 30px;
  left: 50px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

#menu li {
  margin: 5px 0;
  position: relative; /* ::before 요소의 절대 위치 설정을 위해 부모 요소를 상대 위치로 설정 */
}

#menu li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#menu li.on a {
  font-weight: bold;
  text-decoration: underline;
}

#menu li.on a::before {
  content: "";
  border-radius: 50%;
  border: 2px solid #000;
  width: 5px;
  height: 5px;

  position: absolute;
  left: -15px; /* 동그라미 위치 조정 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
}

/* 스타트 섹션 스타일 */
#startSection {
  background: #eaeaea;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

#startSection p {
  font-weight: bold;
  font-size: 23px;
  padding: 15px;
}

#menu2 {
  display: flex;
  margin-top: 20px;
}

#menu2 ul {
  list-style: none;
  padding: 0;
}

#menu2 li {
  margin: 10px 0;
  list-style: none;
}

#menu2 li a {
  color: #8d8d8d;
  font-size: 18px;
}
#menu2 li a:hover {
  color: #000;
  /* font-weight: bold; */
}
